<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Testing Backbone API</title>
</head>
<body>
<!-- The main container -->
<div class="container">

</div>

<!-- ItemView template -->
<script id="item-template" type="text/html">
<p><%= firstname %> <%= lastname %></p>
</script>

<!-- CompositeView template -->
<script id="composite-template" type="text/html">
<div class="cats">

<!-- ItemView inserted into this <ul> tag -->
<ul></ul>

</div>
</script>

<script src="//localhost:35729/livereload.js"></script>
<script src="static/bundle.js"></script>
</body>
</html>